@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'LemonMilk';
  src: src('./fonts/LEMONMILK-MediumItalic.ttf') format('truetype');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.typed-cursor {
  opacity: 0; /* Oculta el cursor */
  display: none; /* Oculta el elemento del cursor */
}
body {
  /* color: rgb(var(--foreground-rgb)); */
  color: #ffff;
  font-family: 'LemonMilk';
  background: #ffff;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
img {
  width: 40rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vh;
}
@media screen and (max-width: 599px) {
  .pagination {
    margin-bottom: 5rem;
    margin-top: 5rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .pagination {
    height: 100vh;
  }
}

@media screen and (min-width: 1025px) {
  .pagination {
    height: 100vh;
  }
}

.scroll-arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-30%);
  border-radius: 50%;
  display: inline-block;
  animation: bounce 2s infinite; 
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
}
