@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Raleway";
  src: url("./fonts/static/Raleway-Bold.ttf") format("truetype");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.typed-cursor {
  opacity: 0;
  display: none;
}
body {
  color: #ffff;
  font-family: "Raleway", sans-serif;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='3' height='3' fill-opacity='0.71' fill='%23272C2D'/%3E%3C/svg%3E");
}
img {
  width: 40rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vh;
}
@media screen and (max-width: 599px) {
  .pagination {
    margin-bottom: 5rem;
    margin-top: 5rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .pagination {
    height: 100vh;
  }
}

@media screen and (min-width: 1025px) {
  .pagination {
    height: 100vh;
  }
}

.scroll-arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-30%);
  display: inline-block;
  animation: bounce 2s infinite;
}
.sombra-semicirculo {
  width: 300px;
  height: 300px;
  position: absolute;
  background: linear-gradient(
    90deg,
    rgba(0, 190, 166, 1) 5%,
    rgba(17, 126, 196, 1) 32%,
    rgba(220, 35, 236, 1) 64%,
    rgba(30, 96, 225, 1) 100%
  );
  border-radius: 50%;
  z-index: -1;
}

.cards {
  width: 15rem;
  height: 14rem;
  background-color: transparent;
}
.cv-button {
  background: linear-gradient(
    90deg,
    rgb(0, 177, 190) 5%,
    rgba(17, 126, 196, 1) 32%,
    rgba(220, 35, 236, 1) 64%,
    rgba(30, 96, 225, 1) 100%
  );
  height: 3rem;
  width: 10rem;
  color: white;
}
.play-button {
  width: 10rem;
  height: 3rem;
  border-width: 2px;
  border-radius: 5px;
  border-image: linear-gradient(
    90deg,
    rgba(0, 190, 166, 1) 5%,
    rgba(17, 126, 196, 1) 32%,
    rgba(220, 35, 236, 1) 64%,
    rgba(30, 96, 225, 1) 100%
  );
  border-image-slice: 1;
  border-image-source: linear-gradient(
    90deg,
    rgba(0, 190, 166, 1) 5%,
    rgba(17, 126, 196, 1) 32%,
    rgba(220, 35, 236, 1) 64%,
    rgba(30, 96, 225, 1) 100%
  );
  background: transparent;
  color: white;
  animation: pulse 2s infinite;
}
.font-type {
  font-family: "Raleway", sans-serif;
}
.glass {
  margin-left: 4rem;
  margin-right: 4rem;
  border-radius: 1rem;
  font-size: 1rem;
  color: white;
  background: rgba(115, 115, 115, 0.118);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1.5px solid rgba(209, 213, 219, 0.3);
  animation: cardBounce 5s infinite;
}
.text-gradient {
  background-image: linear-gradient(
    90deg,
    rgba(0, 190, 166, 1) 5%,
    rgba(17, 126, 196, 1) 32%,
    rgba(220, 35, 236, 1) 64%,
    rgba(30, 96, 225, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.skill-glass {
  border-radius: 1rem;
  font-size: 1rem;
  background: rgba(115, 115, 115, 0.118);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1.5px solid rgba(209, 213, 219, 0.3);
}

.card-glass {
  position: relative;
  background: rgba(115, 115, 115, 0.118);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: cardBounce 7s infinite;
}
.got-to-button {
  color: white;
  border-bottom: 1px solid aqua;
  width: fit-content;
  border-radius: 0;
}
.card-glass::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;
  padding: 2px;
  background: linear-gradient(
    90deg,
    rgba(0, 190, 166, 1) 5%,
    rgba(17, 126, 196, 1) 32%,
    rgba(220, 35, 236, 1) 64%,
    rgba(30, 96, 225, 1) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 22px rgba(51, 204, 255, 0.2);
  }
  50% {
    -webkit-box-shadow: 0 0 22px rgba(32, 120, 150, 0.9);
  }
  100% {
    -webkit-box-shadow: 0 0 22px rgba(51, 204, 255, 0.2);
  }
}
@keyframes cardBounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-40px);
  }
}
